<div class="row">
    <div class="col-xs-12">
        <p>Add new Servers or blueprints!</p>
        <label>Server Name</label>
        <!-- <input 
            type="text"
            class="form-control" 
            [(ngModel)]="newServerName"> -->

        <!-- using local references instead of two way data binding -->

        <!-- 1st way of accessing the local reference -->
        <input type="text" class="form-control" #serverNameInput>

        <!-- 2nd way of accessing local reference -->
        <label>Server Content</label>
        <input type="text" class="form-control" #serverContentInput>
        <br>

        <span style="margin-right: 5px;">
            <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">
                Add Server
            </button>
        </span>
        <span>
            <button class="btn btn-primary" (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
        </span>
    </div>
</div>