<!-- Image -->
<div class="row">
    <div class="col-xs-12">
        <img class="img-responsive"
        [src]="detailedRecipeItem.imagePath" 
        alt="image"
        style="height: 300px;">
    </div>
</div>
<!-- Name of the recipe -->
<div class="row">
    <div class="col-xs-12">
        <h3>{{detailedRecipeItem.name}}</h3>
    </div>
</div>
<!-- for managing recipe radio button -->
<div class="row">
    <div class="col-xs-12">
        <!-- for the overall radio button -->
        <div class="btn-group">
            <!-- This is the actual button(with the name manage recipe) and the caret sign -->
            <button type="button" class="btn btn-primary dropdown-toggle">
            Manage Recipe <span class="caret"></span>
            </button>
            <!-- This is the dropdown list -->
            <ul class="dropdown-menu">
                <li><a href="#">To shopping list</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Description -->
<div class="row">
    <div class="col-xs-12">
        {{detailedRecipeItem.description}}
    </div>
</div>
<!-- Ingredients -->
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>