<button class="btn btn-success" (click)="buttonClicked = !buttonClicked;onClick()">Display Details</button>

<p *ngIf="buttonClicked">secret password : hehehe</p>

<!-- addding the css in [ngClass] internally
for this, use styles in your ts file.(see server component ts file for example) -->
<!-- <div *ngFor="let items of secretArray" [ngStyle]="{backgroundColor:items>=5?'blue':'transparent'}" [ngClass]="{clicked:items>=5}">{{items}}</div> -->

<!-- addding the css in [ngClass] externally -->
<div *ngFor="let items of secretArray" [ngStyle]="{backgroundColor:items>=5?'blue':'transparent'}" [ngClass]="{'text-color':items>=5}">{{items}}</div>